<div class="container">
  <center>
    <!-- ready for eating-->
    <div class="col-md-6">
      <h5>Ready for eating!</h5>
      <div id="readyburger">

        {{#each burgers}}
          {{#unless devoured}}
          <form action="burger/eat/{{id}}" method="POST">
            <div class="add burger">
              <li class="burger adding">{{id}}. {{burger_name}}</li>
                <span class="fordevour_btn">
                  <button class="btn btn-devour" type="submit">Devour It!</button>
                </span>
            </div>
          </form>
          {{/unless}}
        {{/each}}

      </div>
    </div>

    <!-- alreay eat -->
    <div class="col-lg-6">
      <h5>Already eaten!</h5>
      <div id="already_eat">
        {{#each burgers}}
          {{#if this.devoured}}
            <form action="burger/clear/{{id}}" method="POST">
              <div>
                <li class="devour_burger">{{id}}. {{burger_name}}</li>
                <span class="clear">
                  <button class="btn btn-clear" type="submit">Clear Here!</button>
                </span>
              </div>
            </form>
          {{/if}}
        {{/each}}

      </div>
    </div>
  </center>
</div>